<header class="page-header" style="opacity: 0.982857; transition: all 0.05s ease-in-out 0s">
  <div class="video-bg">
    <video src="/videos/video2.mp4" muted="" loop="" autoplay=""></video>
  </div>
  <!-- end video-bg -->
  <div class="container">
    <h1>WORKS</h1>
    <p>TO CREATE A POWERFUL PROJECT ONCE, A BIT OF LUCK IS ENOUGH</p>
  </div>
  <!-- end container -->
  <aside class="left-side">
    <ul>
      <li><a href="#">FACEBOOK</a></li>
      <li><a href="#">BEHANCE</a></li>
      <li><a href="#">DRIBBBLE</a></li>
    </ul>
  </aside>
  <!-- end left-side -->
  <div class="scroll-down"><small>SCROLL DOWN</small><span></span></div>
  <!-- end scroll-down -->
  <div class="sound">
    <span> SOUND </span>
    <div class="equalizer paused">
      <div class="holder">
        <span style="height: 13.8523px"></span>
        <span style="height: 9.47677px"></span>
        <span style="height: 17.7319px"></span>
        <span style="height: 8.35393px"></span><span style="height: 9.03559px"></span><span
          style="height: 16.2152px"></span>
      </div>
      <!-- end holder -->
    </div>
    <!-- end equalizer -->
  </div>
  <!-- end sound -->
</header>
<section class="works-single">
  <div class="container">
    <div class="row">
      <div class="col-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <h6>
          <%= productDoc.brand.name %>
        </h6>
        <h2>
          <%= productDoc.name %>
        </h2>
      </div>
      <!-- end col-12 -->
      <div class="col-md-4 wow fadeIn" style="visibility: hidden; animation-name: none;">
        <figure><a href="https://starteclubricants.s3.ap-south-1.amazonaws.com/<%= productDoc.images.key[0] %>" data-fancybox=""><img src="https://starteclubricants.s3.ap-south-1.amazonaws.com/<%= productDoc.images.key[0] %>"
              alt="Image"></a></figure>
      </div>
      <!-- end col-5 -->
      <div class="col-lg-7 wow fadeIn" data-wow-delay="0.10s"
        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
        <div class="text-desc row">
          <div class="col-12 wow fadeIn" data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s; animation-name: fadeIn;">
            <h5>Description</h5>
            <p>
              <%- productDoc.description %>
            </p>

          </div>
          <!-- end col-6 -->

          <!-- end col-3 -->
        </div>
        <!-- end text-desc -->
      </div>

      <div class="col-md-12">
        <h4>Available in : <% productDoc.size.forEach(element => { %>
         <%= element %>
        <% }) %></h4>
      </div>
      <!-- end col-7 -->
      <% productDoc.images.key.forEach(element=> { %>
        <div class="col-md-4 mt-4 wow fadeIn" style="visibility: hidden; animation-name: none;">
          <figure><a href="https://starteclubricants.s3.ap-south-1.amazonaws.com/<%= element %>" data-fancybox=""><img src="https://starteclubricants.s3.ap-south-1.amazonaws.com/<%= element %>" alt="Image"></a>
          </figure>
        </div>
        <% }) %>

          <!-- end col-4 -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>